@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Roboto+Mono:wght@400;500&family=Young+Serif&display=swap');
       
       *{
            padding: 0px;
            margin: 0px;
        }
        #navbar{
            border: 1px solid black;
            margin: 5px;
            padding: 15px;
            text-align: center;
            background-color: rgb(233, 204, 232);
        }
        #links{
            display:inline;
        }
        #navbar #links a{
            font-family:'Times New Roman', Times, serif;
            font-weight: 500;
            text-decoration: none;
            padding: 5px;
            margin: 5px;
            border: 1px solid black;
            opacity: .70;
            transition: 0.4s;
        }
        #navbar #links a:hover{opacity: 1;transition: 0.4s;}
        #yt{
            background-color: rgb(221, 156, 156); color: rgb(0, 0, 0);
        }
        #fb{
            background-color: rgb(99, 99, 233); color: aliceblue;
        }
        #dc{
            background-color: rgb(158, 158, 230); color: aliceblue;
        }
        #rd{
            background-color: rgb(153, 54, 54); color: aliceblue;
        }
        #x{
            background-color: rgb(162, 200, 218); color: rgb(0, 0, 0);
        }
        .rounded{ border-radius: 7px;}
        .banner{
            background-image: url('cs.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            width: 100vw;
            height: 100vh;
        }
        .banner h2{
            color:#45050C;
            text-shadow: 1px 1px white;
            font-family: 'Young Serif', serif;
        }

        .banner h2 span{
            color: #8B6220;
        }
        .banner p{
            color: #720E07;
            font-family: 'Gabarito', cursive;
            font-family: 'Young Serif', serif;
            margin-bottom: 20px;

        }

        .banner a{
            padding:10px;
            text-decoration:none ;
            background-color: rgb(177, 110, 34);
            font-family: 'Gabarito', cursive;
            font-family: 'Roboto Mono', monospace;
            font-family: 'Young Serif', serif;
            text-transform: uppercase;


        }
    
